/*========================FONTS=================================*/


/*OpenSans*/

@font-face {
    font-family: "OpenSans";
    /*Light*/
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    /*Regular*/
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    /*Semibold*/
    src: url(../fonts/OpenSans-Semibold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    /*Bold*/
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}


/*Roboto*/

@font-face {
    font-family: "Roboto";
    /*Medium*/
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    /*Bold*/
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}


/*========================ANIMATION=============================*/

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*========================MAIN PART============================*/

body {
    font-family: OpenSans;
}

ul {
    padding: 0;
}


/*Color*/

.yellow {
    color: #ffdd00;
}


/*========================HEADER===============================*/

header {
    background: url(../img/header-bg.jpg) no-repeat;
    background-size: cover;
    background-color: #002e3d;
}


/*Links*/

.header-info__links li,
.header-info__links a {
    display: inline-block;
    margin: 10px 12px 0 0;
    transition: 0.5s;
}

.header-info__links a:hover {
    transform: scale(1.2);
    filter: opacity(0.8);
}


/*Address*/

.header-info__address img {
    width: 11px;
    height: 15px;
    margin: 2px 10px 0 60px;
}

.header-info__address p,
.header-info__address a {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0.015em;
    transition: 0.3s;
    text-align: right;
    height: 19px;
}

.header-info__address a:hover {
    text-decoration: none;
    transform: scale(1.05);
    color: #ffdd00;
}


/*Login*/

.header-info__login a {
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.2s;
}

.header-info__login a:hover {
    color: #ffdd00;
    text-decoration: none;
}

.header-info__login span {
    margin: 0 5px 0 5px;
    font-size: 18px;
}


/*Logo*/

.header-info__navbar img {
    margin: 10px 0 15px 0;
}


/*Navbar*/

.header-info__navbar li,
.header-info__navbar a {
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    transition: 0.2s;
}

.header-info__navbar li:nth-last-of-type(1),
.header-info__navbar a:nth-last-of-type(1) {
    margin-right: 0;
}

.header-info__navbar a:hover {
    color: #ffdd00;
    text-decoration: none;
}


/*Text*/

.header-text__title {
    margin-top: 180px;
    margin-bottom: 250px;
}

.header-text__title a {
    font-size: 20px;
    font-weight: 700;
}

.header-text__title a:hover {
    text-decoration: none;
    color: #c5ac06cc;
}

.header-text__title h1 {
    margin: 40px 0 40px 0;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
}

.header-text__title p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 50px;
}

.header-text__title button {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 13px 35px 13px 35px;
    text-transform: uppercase;
    transition: 0.5s;
    outline: none;
}

.header-text__title button:hover {
    transform: scale(1.05);
    border: 1px solid #ffdd00;
}


/*========================MODAL================================*/


/*Container*/

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
    animation: fadeOut 1s;
}

.modal>.container {
    background-color: transparent;
    margin: 10% auto 0 auto;
    border: none;
}

.modal>.container>.tabcontent {
    background-color: #fafafafa;
}


/*Buttons*/

.tab {
    background-color: transparent;
    border-left: 15px solid #ffdd00;
}

.tab-col {
    padding: 0;
}

.tab button {
    font-size: 14px;
    color: #333333;
    width: 101px;
    height: 45px;
    background-color: #fff;
    border: none;
    margin-right: 2px;
    outline: none;
}

.tab span {
    cursor: pointer;
    margin-top: 1%;
    margin-right: 2%;
    color: #fff;
}

.tab span:hover {
    color: rgba(97, 90, 90, 0.651);
}

.tab button:hover {
    background-color: #ffdd00;
    color: #fff;
}

.tab button.active {
    background-color: #ffdd00;
    color: #fff;
}


/*Forms*/

.tabcontent {
    display: none;
    flex-direction: row;
    border-left: 15px solid #ffdd00;
}

.modal form {
    display: inline-flex;
    flex-direction: row;
    margin-left: 40px;
}

.tabcontent button {
    transform: rotate(90deg);
    position: absolute;
    right: -27px;
    bottom: 35%;
    padding: 15px 24px 15px 24px;
    background-color: #fff;
    color: #333;
    border: none;
    text-transform: uppercase;
}

.tabcontent button:hover {
    background-color: #ffdd00;
    color: #fff;
}

.tabcontent h4 {
    margin-bottom: 15px;
    color: #616161;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 55px;
}

.tabcontent input {
    width: 13.9vw;
    height: 6.5vh;
    margin-right: 60px;
    border: none;
    padding-left: 25px;
    margin-bottom: 55px;
    outline: none;
}


/*========================POPULAR==============================*/


/*Text*/

.popular-text p {
    font-weight: 600;
    font-size: 14px;
    margin: 100px 0 30px 0;
    text-transform: uppercase;
}

.popular-text h2 {
    color: #333333;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 70px;
}


/*Carousel*/

.popular-carousel {
    margin-bottom: 150px;
}


/*Indicators*/

.carousel-item {
    height: 370px;
}

.carousel-indicators {
    margin-top: 5000px;
}

.carousel-indicators li {
    background-color: #ffdd00;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #ffdd00;
    background-color: transparent;
}

.carousel-indicators li.active {
    background-color: #ffdd00;
    width: 12px;
    height: 12px;
}

.carousel-indicators {
    bottom: -50px;
}


/*Cards*/


/*Side cards bg*/

.carousel-item__opacity {
    width: 100%;
    height: 25%;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}


/*Middle card bg*/

.carousel-item__yellow {
    width: 100%;
    height: 40%;
    background: rgba(255, 192, 1, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    transition: 0.5;
}


/*
.carousel-item__yellow a {
    filter: opacity(0.7);
    margin-bottom: 10px;
}

.carousel-item__yellow a,
.carousel-item__yellow img:hover {
    transform: scale(1.05);
}
*/

.item1-1,
.item2-1,
.item3-1,
.item1-2,
.item2-2,
.item3-2,
.item1-3,
.item2-3,
.item3-3 {
    max-width: 32.1%;
    height: 370px;
    vertical-align: middle;
    position: relative
}

.item1-1,
.item2-1,
.item1-2,
.item2-2,
.item1-3,
.item2-3 {
    margin-right: 16px;
}

.item1-1 h5,
.item2-1 h5,
.item3-1 h5,
.item1-2 h5,
.item2-2 h5,
.item3-2 h5,
.item1-3 h5,
.item2-3 h5,
.item3-3 h5 {
    margin-top: 25px;
    color: #333;
    z-index: 15;
    font-size: 20px;
    font-weight: 600;
}

.item2-1 h5,
.item1-2 h5,
.item3-2 h5,
.item2-3 h5 {
    margin-top: 20px;
}

.item1-1 p,
.item2-1 p,
.item3-1 p,
.item1-2 p,
.item2-2 p,
.item3-2 p,
.item1-3 p,
.item2-3 p,
.item3-3 p {
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
}


/*1 slide*/

.item1-1 {
    background: url(../img/popular-img1-1.jpg) no-repeat center top / cover;
}

.item2-1 {
    background: url(../img/popular-img2-1.jpg) no-repeat center top / cover;
}

.item3-1 {
    background: url(../img/popular-img3-1.jpg) no-repeat center top / cover;
}


/*2 slide*/

.item1-2 {
    background: url(../img/popular-img1-2.jpg) no-repeat center top / cover;
}

.item2-2 {
    background: url(../img/popular-img2-2.jpg) no-repeat center top / cover;
}

.item3-2 {
    background: url(../img/popular-img3-2.jpg) no-repeat center top / cover;
}


/*3 slide*/

.item1-3 {
    background: url(../img/popular-img1-3.jpg) no-repeat center top / cover;
}

.item2-3 {
    background: url(../img/popular-img2-3.jpg) no-repeat center top / cover;
}

.item3-3 {
    background: url(../img/popular-img3-3.jpg) no-repeat center top / cover;
}


/*========================DESTINATIONS=========================*/

.destionations-title {
    background: url(../img/destination_bgtext.png) no-repeat center top / contain;
}


/*========================HONEYMOON============================*/


/*========================READMORE=============================*/


/*========================DISCOUNT=============================*/


/*========================GETTICKET============================*/


/*========================BIGDEAL==============================*/


/*========================BLOG=================================*/


/*========================CONTACTS==============================*/


/*========================MEDIA=================================*/