/*========================FONTS=================================*/


/*OpenSans*/

@font-face {
    font-family: "OpenSans";
    /*Light*/
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    /*Regular*/
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    /*Semibold*/
    src: url(../fonts/OpenSans-Semibold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "OpenSans";
    /*Bold*/
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}


/*Roboto*/

@font-face {
    font-family: "Roboto";
    /*Medium*/
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    /*Bold*/
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}


/*========================ANIMATION=============================*/

@keyframes fadeOut {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*========================MAIN PART============================*/

body {
    font-family: OpenSans;
}

ul {
    padding: 0;
}


/*Color*/

.yellow {
    color: #ffdd00;
}


/*========================HEADER===============================*/

header {
    background: url(../img/header-bg.jpg) no-repeat;
    background-size: cover;
    background-color: #002e3d;
}


/*Links*/

.header-info__links li,
.header-info__links a {
    display: inline-block;
    margin: 10px 12px 0 0;
    transition: 0.5s;
}

.header-info__links a:hover {
    transform: scale(1.2);
    filter: opacity(0.8);
}


/*Address*/

.header-info__address img {
    width: 11px;
    height: 15px;
    margin: 2px 10px 0 60px;
}

.header-info__address p,
.header-info__address a {
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0.015em;
    transition: 0.3s;
    text-align: right;
    height: 19px;
}

.header-info__address a:hover {
    text-decoration: none;
    transform: scale(1.05);
    color: #ffdd00;
}


/*Login*/

.header-info__login a {
    color: #ffffff;
    text-transform: uppercase;
    transition: 0.2s;
}

.header-info__login a:hover {
    color: #ffdd00;
    text-decoration: none;
}

.header-info__login span {
    margin: 0 5px 0 5px;
    font-size: 18px;
}


/*Logo*/

.header-info__navbar img {
    margin: 10px 0 15px 0;
}


/*Navbar*/

.header-info__navbar li,
.header-info__navbar a {
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    transition: 0.2s;
}

.header-info__navbar li:nth-last-of-type(1),
.header-info__navbar a:nth-last-of-type(1) {
    margin-right: 0;
}

.header-info__navbar a:hover {
    color: #ffdd00;
    text-decoration: none;
}

#menu_icon {
    display: none;
}


/*Text*/

.header-text__title {
    margin-top: 180px;
    margin-bottom: 250px;
}

.header-text__title a {
    font-size: 20px;
    font-weight: 700;
}

.header-text__title a:hover {
    text-decoration: none;
    color: #c5ac06cc;
}

.header-text__title h1 {
    margin: 40px 0 40px 0;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
}

.header-text__title p {
    color: #fff;
    font-size: 16px;
    margin-bottom: 50px;
    line-height: 30px;
}

.header-text__title button,
.discount-title button {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 13px 35px 13px 35px;
    text-transform: uppercase;
    transition: 0.5s;
    outline: none;
}

.header-text__title button:hover {
    transform: scale(1.05);
    border: 1px solid #ffdd00;
}


/*========================MODAL================================*/


/*Container*/

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadeOut 1s;
}

.modal>.container {
    background-color: transparent;
    margin: 10% auto 0 auto;
    border: none;
}

.modal>.container>.tabcontent {
    background-color: #fafafafa;
}


/*Buttons*/

.tab {
    background-color: transparent;
    border-left: 15px solid #ffdd00;
}

.tab-col {
    padding: 0;
}

.tab button {
    font-size: 14px;
    color: #333333;
    width: 101px;
    height: 45px;
    background-color: #fff;
    border: none;
    margin-right: 2px;
    outline: none;
}

.tab span {
    cursor: pointer;
    margin-top: 1%;
    margin-right: 2%;
    color: #fff;
}

.tab span:hover {
    color: rgba(97, 90, 90, 0.651);
}

.tab button:hover {
    background-color: #ffdd00;
    color: #fff;
}

.tab button.active {
    background-color: #ffdd00;
    color: #fff;
}


/*Forms*/

.tabcontent {
    display: none;
    flex-direction: row;
    border-left: 15px solid #ffdd00;
}

.modal form {
    display: inline-flex;
    flex-direction: row;
    margin-left: 40px;
}

.tabcontent button {
    transform: rotate(90deg);
    position: absolute;
    right: -27px;
    bottom: 35%;
    padding: 15px 24px 15px 24px;
    background-color: #fff;
    color: #333;
    border: none;
    text-transform: uppercase;
}

.tabcontent button:hover {
    background-color: #ffdd00;
    color: #fff;
}

.tabcontent h4 {
    margin-bottom: 15px;
    color: #616161;
    font-size: 14px;
    text-transform: uppercase;
    margin-top: 55px;
}

.tabcontent input {
    width: 13.9vw;
    height: 6.5vh;
    margin-right: 60px;
    border: none;
    padding-left: 25px;
    margin-bottom: 55px;
    outline: none;
}


/*========================POPULAR==============================*/


/*Text*/

.popular-text p {
    font-weight: 600;
    font-size: 14px;
    margin: 100px 0 30px 0;
    text-transform: uppercase;
}

.popular-text h2 {
    color: #333333;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 70px;
}


/*Carousel*/

.popular-carousel {
    margin-bottom: 150px;
}


/*Indicators*/

.carousel-item {
    height: 370px;
}

.carousel-indicators {
    margin-top: 5000px;
}

.carousel-indicators li {
    background-color: #ffdd00;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid #ffdd00;
    background-color: transparent;
}

.carousel-indicators li.active {
    background-color: #ffdd00;
    width: 12px;
    height: 12px;
}

.carousel-indicators {
    bottom: -50px;
}


/*Cards*/


/*Side cards bg*/

.carousel-item__opacity {
    width: 100%;
    height: 25%;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}


/*Middle card bg*/

.carousel-item__yellow {
    width: 100%;
    height: 40%;
    background: rgba(255, 192, 1, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    transition: 0.5;
}

.item1-1,
.item2-1,
.item3-1,
.item1-2,
.item2-2,
.item3-2,
.item1-3,
.item2-3,
.item3-3 {
    max-width: 32.1%;
    height: 370px;
    vertical-align: middle;
    position: relative
}

.item1-1,
.item2-1,
.item1-2,
.item2-2,
.item1-3,
.item2-3 {
    margin-right: 16px;
}

.item1-1 h5,
.item2-1 h5,
.item3-1 h5,
.item1-2 h5,
.item2-2 h5,
.item3-2 h5,
.item1-3 h5,
.item2-3 h5,
.item3-3 h5 {
    margin-top: 25px;
    color: #333;
    z-index: 15;
    font-size: 20px;
    font-weight: 600;
}

.item2-1 h5,
.item1-2 h5,
.item3-2 h5,
.item2-3 h5 {
    margin-top: 20px;
}

.item1-1 p,
.item2-1 p,
.item3-1 p,
.item1-2 p,
.item2-2 p,
.item3-2 p,
.item1-3 p,
.item2-3 p,
.item3-3 p {
    color: #333333;
    font-size: 16px;
    font-weight: 600;
    margin-top: 25px;
}


/*1 slide*/

.item1-1 {
    background: url(../img/popular-img1-1.jpg) no-repeat center top / cover;
}

.item2-1 {
    background: url(../img/popular-img2-1.jpg) no-repeat center top / cover;
}

.item3-1 {
    background: url(../img/popular-img3-1.jpg) no-repeat center top / cover;
}


/*2 slide*/

.item1-2 {
    background: url(../img/popular-img1-2.jpg) no-repeat center top / cover;
}

.item2-2 {
    background: url(../img/popular-img2-2.jpg) no-repeat center top / cover;
}

.item3-2 {
    background: url(../img/popular-img3-2.jpg) no-repeat center top / cover;
}


/*3 slide*/

.item1-3 {
    background: url(../img/popular-img1-3.jpg) no-repeat center top / cover;
}

.item2-3 {
    background: url(../img/popular-img2-3.jpg) no-repeat center top / cover;
}

.item3-3 {
    background: url(../img/popular-img3-3.jpg) no-repeat center top / cover;
}


/*========================DESTINATIONS=========================*/


/*Title*/

.destinations-title {
    background: url(../img/destination_bgtext.png) no-repeat center top / contain;
}

.destinations-title h2 {
    margin: 40px 0 45px 0;
    font-weight: 700;
    font-size: 30px;
    color: #333;
}

.destinations-title p {
    margin-bottom: 70px;
    color: #333;
    font-size: 16px;
    line-height: 30px;
}


/*Carousel*/

.destinations-carousel {
    margin-bottom: 40px;
    padding: 0;
}


/*Indicators*/

.destinations-carousel>.carousel>.carousel-indicators li {
    background-color: rgba(121, 121, 121, 0.432);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 2px solid rgba(121, 121, 121, 0.432);
    background-color: transparent;
}

.destinations-carousel>.carousel>.carousel-indicators li.active {
    background-color: rgba(121, 121, 121, 0.432);
    width: 12px;
    height: 12px;
}

.destinations-carousel>.carousel>.carousel-indicators {
    bottom: -50px;
}


/*Carousel caption*/

.carousel-caption {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    left: 28%;
    right: 28%;
    color: #333;
    bottom: -5px;
}

.carousel-caption h5 {
    font-size: 24px;
    font-weight: 700;
    color: #333;
}


/*========================HONEYMOON============================*/


/*Title*/

.honeymoon-title h2 {
    margin: 100px 0 45px 0;
    font-weight: 600;
    font-size: 30px;
    color: #333;
}

.honeymoon-title p {
    margin-bottom: 100px;
    font-size: 16px;
    color: #333;
    line-height: 30px;
}


/*Carousel*/


/*Content*/

.honeymoon-carousel {
    margin-bottom: 100px;
}

.honeymoon-carousel-item__left,
.honeymoon-carousel-item__right {
    max-width: 50%;
    height: 307px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}


/*Left column*/

.honeymoon-carousel-item__left img {
    width: 370px;
    height: 307px;
}


/*Right column*/

.honeymoon-carousel-item__right h3,
.honeymoon-carousel-item__right p,
.honeymoon-carousel-item__right span {
    margin-left: 25px;
}

.honeymoon-carousel-item__right span {
    color: #ffc001;
    font-size: 24px;
    font-weight: 600;
}

.honeymoon-carousel-item__right p:nth-child(odd) {
    font-size: 16px;
    color: #333;
    margin: 35px 0 15px 25px;
    margin-bottom: 15px;
}

.honeymoon-carousel-item__right p:nth-child(even) {
    font-size: 16px;
    color: #616161;
}

.honeymoon-carousel-item__right h3 {
    font-size: 24px;
    color: #333;
    font-weight: 600;
    margin: 10px 0 25px 25px;
}

.honeymoon-carousel-item__right button {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: #ffdd00;
    background: rgba(97, 97, 97, 0.05);
    text-transform: uppercase;
    border: none;
}

.honeymoon-carousel-item__right button:hover {
    color: #fff;
    background: #ffc001;
}


/*Carousel controls color*/

.honeymoon-carousel>.carousel>.carousel-control-prev>.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffdd00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.honeymoon-carousel>.carousel>.carousel-control-next>.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffdd00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}


/*========================READMORE=============================*/

.readmore {
    background: url(../img/readmore-bg.jpg) no-repeat center top / cover;
    background-color: #e6e5e5;
}


/*Left column with text*/

.readmore__text h2 {
    font-size: 40px;
    color: #333;
    font-weight: 700;
    margin: 180px 0 30px 0;
}

.readmore__text span {
    font-size: 16px;
    color: #ffc001;
    font-weight: 600;
}

.readmore__text p {
    font-size: 15px;
    color: #616161;
    margin-bottom: 50px;
    line-height: 30px;
}

.readmore__text button {
    margin-bottom: 180px;
    text-decoration: none;
    border: none;
    background-color: #ffc001;
    color: #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 4px;
    transition: 0.5s;
}

.readmore__text button:hover {
    transform: scale(1.1);
}


/*Carousel*/

.readmore-img__carousel>.carousel {
    margin-top: 150px;
}

.readmore-img__carousel>.carousel>.carousel-inner>.carousel-item img {
    max-height: 400px;
}


/*========================DISCOUNT=============================*/


/*Title*/

.discount-title h2 {
    margin: 80px 0 35px 0;
    text-transform: uppercase;
    font-size: 30px;
    color: #333;
    font-weight: 700;
}

.discount-title p {
    margin-bottom: 55px;
    color: #616161;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.discount-title button {
    color: #fbad03;
    border-color: #fbad03;
    font-weight: 700;
    margin-bottom: 65px;
}

.discount-title button:hover {
    background-color: #fbad03;
    color: #fff;
}


/*Countdown*/

.countdown {
    display: inline-flex;
    margin-bottom: 80px;
}

.countdown-number:nth-last-child(-n+3) {
    margin-left: 105px;
}

.countdown-time {
    font-family: Roboto;
    font-weight: 700;
    font-size: 36px;
}

.countdown-text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
}


/*Colors for countdown blocks*/

.days {
    color: #fbad03;
}

.hours {
    color: #ef6f6c;
}

.minutes {
    color: #28c190;
}

.seconds {
    color: #333333;
}


/*========================myModal2============================*/

.modal2 {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
    animation: fadeOut 1s;
}

.modal2>.container {
    background-color: transparent;
    margin: 10% auto 0 auto;
    border: none;
    position: relative;
}

.modal2>.container>.row {
    background-color: #fafafafa;
    width: 70%;
    position: absolute;
    top: -50%;
    left: 15%;
}

.modal-carousel__header {
    width: 100%;
    position: absolute;
    top: 0;
    height: 20px;
    padding: 0;
    background-color: transparent;
}

.modal-carousel__header>.close-2 {
    cursor: pointer;
    font-size: 36px;
    color: #fff;
    position: absolute;
    right: -10%;
    top: 0%;
    display: block;
}

.close-2:hover {
    color: rgb(129, 129, 129);
}


/*Carousel*/

.getticket>.carousel>.carousel-inner>.carousel-item.active {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 0;
}


/*Right column*/

.getticket-carousel-item__right {
    position: relative;
}

.getticket-carousel-item__right h3,
.getticket-carousel-item__right p,
.getticket-carousel-item__right span {
    margin-left: 25px;
}

.getticket-carousel-item__right span {
    color: #ffc001;
    font-size: 24px;
    font-weight: 600;
}

.getticket-carousel-item__right p:nth-child(odd) {
    font-size: 16px;
    color: #333;
    margin: 35px 0 15px 25px;
    margin-bottom: 15px;
}

.getticket-carousel-item__right p:nth-child(even) {
    font-size: 16px;
    color: #616161;
}

.getticket-carousel-item__right h3 {
    font-size: 24px;
    color: #333;
    font-weight: 600;
    margin: 10px 0 25px 25px;
}

.getticket-carousel-item__right button {
    width: 180px;
    background: rgba(97, 97, 97, 0.05);
    position: absolute;
    right: -60%;
    bottom: 30%;
    padding: 15px 24px;
    background-color: #ffdd00;
    color: #333;
    border: none;
    text-transform: uppercase;
    transform: rotate(-90deg);
}

.getticket-carousel-item__right button:hover {
    color: #fff;
    background: #ffc001;
}


/*Controls*/

.getticket>.carousel>.carousel-control-prev>.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffdd00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.getticket>.carousel>.carousel-control-prev {
    left: 0%;
    width: 5%;
}

.getticket>.carousel>.carousel-control-next>.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffdd00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.getticket>.carousel>.carousel-control-next {
    right: 0%;
    width: 5%;
}


/*========================BIGDEAL==============================*/

.bigdeal {
    margin-bottom: 150px;
}

.bigdeal__title {
    background: url(../img/bigdeal-bg.jpg) no-repeat center top / cover;
}

.bigdeal__title h2 {
    margin: 70px 0 35px 0;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}

.bigdeal__title p {
    margin-bottom: 30px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.35em;
}

.bigdeal__title input {
    height: 50px;
    width: 32%;
    margin-bottom: 230px;
    outline: none;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-left: 6px;
}

.bigdeal__title button {
    height: 50px;
    padding: 10px 25px 10px 25px;
    background: #1b2739;
    color: #fff;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
}

.bigdeal__title button:hover {
    background: #121c2b;
}


/*========================BLOG=================================*/

.blog-card {
    box-shadow: 0 0 10px 6px #fcfcfc;
    margin-bottom: 110px;
}

.blog-card__data {
    margin: 15px 0 28px 16px;
    width: 90%;
    font-weight: 600;
    color: #b9bbba;
    font-size: 12px;
    text-transform: uppercase;
    max-height: 12px;
}

.blog-card__text h5 {
    font-size: 20px;
    color: #333333;
    line-height: 36px;
    margin: 0 0 25px 16px;
}

.blog-card__text p {
    margin: 0 0 30px 16px;
    width: 90%;
    line-height: 28px;
    font-size: 15px;
    color: #616161;
}

.blog-card__text a {
    margin-left: 16px;
    cursor: pointer;
}

.blog-card__text img {
    transition: 0.5s;
    margin-bottom: 35px;
}

.blog-card__text img:hover {
    transform: scale(1.2);
}


/*========================CONTACTS==============================*/

.contacts {
    background: #1b2739 url(../img/contacts-bg.jpg) no-repeat center top / cover;
}

.contact-logo {
    margin: 120px 0 45px 0;
}

.contacts-info__connection p,
a {
    color: #bababa;
}

.contacts-info__connection a:hover {
    color: #616161;
}

.contacts-info__connection>ul {
    margin-top: 60px;
}

.contacts-info__connection>ul>li {
    margin-right: 30px;
    text-align: left;
    list-style-type: none;
    transition: 0.5s;
}

.contacts-info__connection>ul>li>a>img:hover {
    transform: scale(1.4);
}

.connect-support h5,
.connect-location h5,
.connect-menu h5 {
    margin: 120px 0 15px 0;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

.connect-support hr,
.connect-location hr,
.connect-menu hr {
    color: #ffc001;
    max-width: 26px;
    margin: 0;
    border: 1px solid #ffc001;
    margin-bottom: 45px;
}

.connect-support a,
.connect-support li,
.connect-location a,
.connect-location li,
.connect-menu a,
.connect-menu li {
    color: #bababa;
    font-size: 14px;
    margin-bottom: 25px;
    list-style: none;
    text-align: left;
    transition: 0.2s;
}

.connect-support a:hover,
.connect-location a:hover,
.connect-menu a:hover {
    color: #ffc001;
    text-decoration: none;
}

.prefooter-line hr {
    color: #273243;
}

.footer__rights p {
    font-size: 14px;
    color: #fff;
    margin: 50px 0 25px 0;
}

.footer__about li,
.footer__about a {
    display: inline-block;
    font-size: 13px;
    color: #fff;
    margin: 23px 0 25px 20px;
}


/*========================MEDIA=================================*/

@media screen and (min-width: 992px) and (max-width: 1199px) {
    /*Header*/
    .header-info__address {
        min-width: 45%;
        margin-left: 10%;
    }
    .header-info__login {
        flex: 0 0 20%;
        max-width: 20%;
        text-align: right;
    }
    .header-info__navbar>.col-lg-6 {
        flex: 0 0 60%;
        max-width: 60%;
        align-self: center !important;
    }
    /*Popular carousel*/
    .popular-carousel>.carousel>.carousel-control-prev>.carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffdd00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }
    .popular-carousel>.carousel>.carousel-control-next>.carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffdd00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }
    .popular-carousel>.carousel>.carousel-control-prev {
        width: 5%;
        left: -10%;
    }
    .popular-carousel>.carousel>.carousel-control-next {
        right: -10%;
    }
    .item1-1,
    .item2-1,
    .item3-1,
    .item1-2,
    .item2-2,
    .item3-2,
    .item1-3,
    .item2-3,
    .item3-3 {
        width: 30% !important;
    }
    /*Honeymoon carousel*/
    .honeymoon-carousel>.carousel>.carousel-control-prev {
        width: 5%;
        left: -5%;
        top: -20%;
    }
    .honeymoon-carousel>.carousel>.carousel-control-next {
        width: 5%;
        right: -5%;
        top: -20%;
    }
    /*Modal 2 - Getticket*/
    .getticket>.carousel>.carousel-control-prev {
        left: -10%;
        width: 5%;
    }
    .getticket>.carousel>.carousel-control-next {
        right: -10%;
        width: 5%;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /*Header*/
    .header-info__links li,
    .header-info__links a {
        width: 11px;
        height: 9px;
    }
    .header-info__address {
        margin-left: 0;
        padding-right: 0;
    }
    .header-info__address img {
        margin-left: 0;
    }
    .header-info__login {
        font-size: 16px;
        padding: 0;
    }
    .header-info__navbar {
        height: 100%;
        align-items: center;
    }
    /*Popular carousel*/
    .popular-carousel>.carousel>.carousel-control-prev>.carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffdd00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }
    .popular-carousel>.carousel>.carousel-control-next>.carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffdd00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }
    .popular-carousel>.carousel>.carousel-control-prev {
        width: 5%;
        left: -10%;
    }
    .popular-carousel>.carousel>.carousel-control-next {
        right: -10%;
    }
    .item1-1,
    .item2-1,
    .item3-1,
    .item1-2,
    .item2-2,
    .item3-2,
    .item1-3,
    .item2-3,
    .item3-3 {
        width: 30% !important;
    }
    /*Destination carousel*/
    .carousel-caption {
        bottom: 15%;
    }
    /*Honeymoon carousel*/
    .honeymoon-carousel>.carousel>.carousel-inner>.carousel-item.active {
        display: flex;
    }
    .honeymoon-carousel-item__right {
        margin-left: 5%;
    }
    .honeymoon-carousel>.carousel>.carousel-control-prev {
        width: 5%;
        left: -8%;
        top: -20%;
    }
    .honeymoon-carousel>.carousel>.carousel-control-next {
        width: 5%;
        right: -8%;
        top: -20%;
    }
    /*Readmore*/
    .readmore__text button {
        margin-bottom: 0;
    }
    #carousel-4 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .readmore-img__carousel>.carousel>.carousel-inner>.carousel-item img {
        max-height: 420px;
    }
    /*Modal 2 - Getticket*/
    .modal2>.container>.row {
        width: 95%;
        left: 5%;
    }
    .getticket>.carousel>.carousel-control-prev {
        left: -10%;
        width: 5%;
    }
    .getticket>.carousel>.carousel-control-next {
        right: -10%;
        width: 5%;
    }
}

@media screen and (min-width: 481px) and (max-width: 767px) {
    /*Header*/
    .header-info__links li,
    .header-info__links a {
        width: 11px;
        height: 9px;
    }
    .header-info__address {
        padding-right: 0;
        font-size: 16px;
        margin: 2px 0 10px 0;
    }
    .header-info__address img {
        margin-left: 0;
    }
    .header-info__login {
        font-size: 16px;
        margin-bottom: 10px;
    }
    /*Media navbutton*/
    #menu_icon {
        position: fixed;
        color: #ffdd00;
        right: 5%;
        top: 2.5%;
        font-size: 24px;
        cursor: pointer;
        z-index: 99;
        display: block;
    }
    #side_nav {
        width: 200px;
        position: fixed;
        right: -200px;
        top: 0;
        background-color: #050505;
        z-index: 2;
        transition: 0.5s;
        height: 100vh;
    }
    #side_nav ul {
        display: flex;
        flex-direction: column;
    }
    #side_nav li {
        max-width: 75px;
        margin: 10px 0 20px 35px;
    }
    /*Popular carousel*/
    .popular-carousel>.carousel>.carousel-control-prev>.carousel-control-prev-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffdd00' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
    }
    .popular-carousel>.carousel>.carousel-control-next>.carousel-control-next-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffdd00' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
    }
    .popular-carousel>.carousel>.carousel-control-prev {
        width: 5%;
        left: -10%;
    }
    .popular-carousel>.carousel>.carousel-control-next {
        right: -10%;
    }
    .item1-1,
    .item2-1,
    .item3-1,
    .item1-2,
    .item2-2,
    .item3-2,
    .item1-3,
    .item2-3,
    .item3-3 {
        width: 30% !important;
    }
    /*Destination carousel*/
    .carousel-caption {
        bottom: 15%;
    }
    /*Honeymoon carousel*/
    .honeymoon-carousel>.carousel>.carousel-inner>.carousel-item.active {
        display: flex;
    }
    .honeymoon-carousel-item__right {
        margin-left: 5%;
    }
    .honeymoon-carousel>.carousel>.carousel-control-prev {
        width: 5%;
        left: -8%;
        top: -20%;
    }
    .honeymoon-carousel>.carousel>.carousel-control-next {
        width: 5%;
        right: -8%;
        top: -20%;
    }
    /*Readmore*/
    .readmore__text button {
        margin-bottom: 0;
    }
    #carousel-4 {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .readmore-img__carousel>.carousel>.carousel-inner>.carousel-item img {
        max-height: 420px;
    }
    /*Modal 2 - Getticket*/
    .modal2>.container>.row {
        width: 95%;
        left: 5%;
    }
    .getticket>.carousel>.carousel-control-prev {
        left: -10%;
        width: 5%;
    }
    .getticket>.carousel>.carousel-control-next {
        right: -10%;
        width: 5%;
    }
}

@media screen and (max-width: 480px) {}